obj/*
externals/*
bin/Debug/*
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/Stationeers-PlantsnNutritionRebalance-BepInEx/v16/.suo
*.dll
*.zip
.vs/WindVsGravity/v17/.suo
*.lock
*.vsidx
*.v2
*.1
*.sln
Properties/launchSettings.json
WindVsGravity.csproj.user
